body {
    background-image: url(./../images/moviesbg.png);
    background-repeat: no-repeat;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-top: 10%;
}

form {
    background-image: linear-gradient(to bottom, rgba(50, 0, 100, 0.6), rgba(29, 29, 29, 0.4));
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    padding: 20px;
    width: 300px;
    height: 300px;
    transition: all 0.5s;
}

form:hover {
    transform: translateY(-10px);
    box-shadow: 2px 12px 15px #1d1d1d;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form input[type="email"],
form input[type="password"] {
    width: 200px;
    padding: 15px 10px;
    margin-bottom: 20px;
    margin-left: 40px;
    border-radius: 10px;
    border: none;
    font-size: 11px;
    background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.9), rgba(29, 29, 29, 0.8));
}

form input[type="email"] {
    margin-top: 20px;
}

.submit {
    background-color: #1d1d1d;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    transition: all 0.5s;
    border: none;
    width: 50%;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-left: 25%;
}

.submit:hover {
    background-color: #32006480;
}

@media only screen and (min-width:461px) and (max-width:899px) {
    body {
        width: 100%;
        height: 100%;
        background-image: url(images/moviesbg.png);

        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        margin-top: 40%;
    }

    form {
        background-image: linear-gradient(to bottom, rgba(50, 0, 100, 0.6), rgba(29, 29, 29, 0.4));
        border-radius: 10px;
        box-shadow: 2px 2px 5px black;
        padding: 20px;
        width: 300px;
        height: 300px;
        transition: all 0.5s;
    }

    form:hover {
        transform: translateY(-10px);
        box-shadow: 2px 12px 15px #1d1d1d;
    }

    .form-title {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #fff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    form input[type="email"],
    form input[type="password"] {
        width: 200px;
        padding: 15px 10px;
        margin-bottom: 20px;
        margin-left: 40px;
        border-radius: 10px;
        border: none;
        font-size: 11px;
        background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.9), rgba(29, 29, 29, 0.8));
    }

    form input[type="email"] {
        margin-top: 20px;
    }

    .submit {
        background-color: #1d1d1d;
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        padding: 10px;
        transition: all 0.5s;
        border: none;
        width: 50%;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        text-decoration: none;
        margin-left: 25%;
    }

    .submit:hover {
        background-color: #32006480;
    }
}

@media only screen and (max-width:460px) {
    body {
        background-image: url(images/moviesbg.png);
        background-repeat: no-repeat;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        margin-top: 200px;
    }

    form {
        background-image: linear-gradient(to bottom, rgba(50, 0, 100, 0.6), rgba(29, 29, 29, 0.4));
        border-radius: 10px;
        box-shadow: 2px 2px 5px black;
        padding: 20px;
        width: 300px;
        height: 300px;
        transition: all 0.5s;
    }

    form:hover {
        transform: translateY(-10px);
        box-shadow: 2px 12px 15px #1d1d1d;
    }

    .form-title {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        color: #fff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    form input[type="email"],
    form input[type="password"] {
        width: 200px;
        padding: 15px 10px;
        margin-bottom: 20px;
        margin-left: 40px;
        border-radius: 10px;
        border: none;
        font-size: 11px;
        background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.9), rgba(29, 29, 29, 0.8));
    }

    form input[type="email"] {
        margin-top: 20px;
    }

    .submit {
        background-color: #1d1d1d;
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        padding: 10px;
        transition: all 0.5s;
        border: none;
        width: 50%;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        text-decoration: none;
        margin-left: 25%;
    }

    .submit:hover {
        background-color: #32006480;
    }
}